/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: inherit;
}

p{
    font-size: 0.9rem;
    line-height: 25px;
}


/* utilities */

.flex{
    display: flex;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.p-15{
    padding: 15px;
}

.p-30{
    padding: 30px;
}

.m-auto {
    margin: 0 auto;
}

.bg{
    background-color:rgb(180 208 231);
}

.bg-btn{
    background-color: rgb(0 97 255);
    color: white;
    padding: 10px 10px;
}

.fs-2{
    font-size: 2rem;
}

.fs-08{
    font-size: 0.8rem;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-100{
    margin-bottom: 100px;
}

.d-block{
    display: block;
}

.m-right{
    margin-right: 5px;
}

/* header */

header{
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    margin-bottom: 200px;
}

.header-bar li{
    padding: 20px;
}

.header-bar{
    justify-content: space-between;
}

/* main */

/* ---hero--- */

.hero-section{
    margin-bottom: 150px;
}

h1{
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 5rem;
}

.section-btn-hero{
    margin-top: 70px;
    margin-bottom: 70px;
}

.fa-down-long{
    font-size: 3rem;
    margin-top: 70px;
    margin-bottom: 70px;
}

/* ---business section--- */

/* title */

.business-title{
    padding: 40px 0;
}

.radio-btn{
    text-align: left;
    font-size: 0.9rem
}

/* plans */

.plans{
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    padding: 50px 0px;
}

.pro-plan, .adv-plan, .ent-plan{
    width: calc(100%/3);
    border: 1px solid rgb(208 208 211);
    height: 800px;
}

.plan{
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(208 208 211);
    text-align: center;
}

.cost{
    display: block;
    padding: 20px;
    line-height: 30px;
}

.detail-plan{
    display: block;
    margin-bottom: 30px;
}

.month{
    display:block;
    color: gray;
}

.free-30{
    padding: 10px 40px;
}

.short-row{
    width: 15%;
    margin-left: 15px;
    background-color: lightgrey
}

/* contact team */

.contact-team{
    border: 1px solid rgb(208 208 211);
    margin-bottom: 100px;
}

.contact-title{
    border-bottom: 1px solid rgb(208 208 211);
    text-align: center;
}

.contact-btn{
    justify-content: space-between;
}

.i-price{
    padding: 0px 30px;
    margin-bottom: 40px;
    font-weight: bold;
}

/* ---partner Dropbox--- */

.partner-text{
    margin: 50px 30px;
}

.partner-title{
    margin-bottom: 40px;
}

.partner-paragraph{
    margin-bottom: 30px;
}

.partner-link{
    border: 1px solid gray;
    padding: 10px;
}

/* ---info Dropbox operaions--- */

.operations-section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-container{
    flex-wrap: wrap;
    padding: 50px 0;
}

.card-section{
    width: calc(100%/3);
    padding: 20px;
}

/* Dropbox user */

.user-text{
    margin-bottom: 50px;
    width: 50%;
    line-height: 45px;
}

/* ---Dropbox clients--- */

.clients-section img{
    filter: invert(1);
    width: 50%;
}

.designit{
}

.clients-section{
    margin-top: 200px;
}

.clients{
    background-color: rgb(238, 7, 238);
    flex-wrap: wrap;
}

.box{
    width: calc(100%/3);
    flex-wrap: wrap;
}

.uno{
    aspect-ratio: 1;
}

.due{
    background-color: blueviolet;
    aspect-ratio: 1;
}

.tre{
    background-color: blanchedalmond;
    aspect-ratio: 1;
}

/* ---free trial--- */

.free-trial{
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}

.free-trial-title{
    color: rgb(97 8 43);
    width: 45%;
}

.btn-trial{
    background-color: white;
    padding: 10px 20px;
    color: black;
}

/* ---faq--- */

.faq{
    margin-top: 100px;
    margin-bottom: 100px;
}

.faq-title{
    margin-bottom: 50px;
}

.faq > hr{
    width: 100%;
}

.question{
    margin: 30px 0px;
}


/* ---footer--- */

footer{
    background-color: black;
    height: 400px;
}

.faq-col{
    width: calc(100%/5 - 10px);
}

.faq-col h5{
    font-size: 1.3rem;
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}

.faq-col li{
    font-size: 0.8rem;
    color: white;
    line-height: 30px;
}

.language{
    margin-top: 40px;
}

.short-row-footer{
    background-color: white;
    width: 10%;
    margin-bottom: 20px;
}

.ita{
    color: grey
}