/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*img{
    max-width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* utilities */

.flex{
    display: flex;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

/* header */

header{
    height: 100px;
    justify-content: space-between;
}

.header-sx{
    background-color: lightcoral;
    /* debug */
    width: 40%;
}

.header-dx{
    background-color:lightblue;
    /* debug */
    width: 40%;
}

/* main */

/* hero */

.hero-section{
    height: 600px;
    background-color: blueviolet;
    /* debug */
    justify-content: center;
    align-items: center;
}

.hero{
    background-color: blanchedalmond;
    height: 400px;
}

/* business */

